@font-face {
  font-family: "Lobster";
  src: url(Fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(Fonts/Open_Sans/OpenSans-Regular.ttf);
}
* {
  font-family: "OpenSans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  padding: 20px 0px;
  font-family: "Lobster";
  text-align: left;
}

a {
  color: #34164b;
}
a:hover {
  color: #34164b;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

main {
  margin-top: 50px;
  min-height: calc(100% - 50px);
  text-align: justify;
}
main p, main h1, main h2, main h3, main h4, main h5, main h6 {
  margin: 0px 20px;
}

#navbar {
  min-height: 50px;
  background-color: #34164b;
  border-bottom: 1px solid #ffcc29;
}
#navbar a, #navbar button {
  float: right;
  text-align: center;
  text-decoration: none;
  height: 50px;
  padding: 10px;
  color: #ffcc29;
  font-size: 18px;
  border-bottom: 1px solid #ffcc29;
  transition-duration: 0.4s;
}
#navbar a:not(.nav-no-hover):hover, #navbar button:not(.nav-no-hover):hover {
  background-color: #9e5dcf;
  cursor: pointer;
}

.nav-items-left {
  float: left;
}

.lang-btn {
  background-color: #34164b;
  border: none;
  border-left: 1px solid #ffcc29;
}

.nav-lang-btns {
  background: red;
}

.nav-burger {
  float: right;
  cursor: pointer;
  display: none;
  margin: 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffcc29;
  margin: 6px 0px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#logo-img {
  height: calc(50px - 30%);
  position: relative;
  bottom: 15%;
}

footer {
  min-height: 50px;
  background-color: darkgrey;
  border-top: 1px solid grey;
}
footer a {
  float: right;
  text-align: center;
  text-decoration: none;
  height: 50px;
  padding: 10px;
  color: black;
  margin: auto 0;
}
footer a:hover {
  color: black;
  cursor: pointer;
}

.footer-items-left {
  float: left;
}

.footer-social {
  width: 30px;
}
.footer-social:hover {
  background-color: #ffcc29;
  border-radius: 5px;
}

.hero-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-boxes {
  text-align: center;
  color: white;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background-color: rgba(0, 0, 0, 0.3);
  height: 30%;
  width: 35%;
  margin: auto;
  padding: 20px;
  border-radius: 40px;
  min-height: 300px;
}

.hero-box-header {
  font-size: 3em;
  color: #ffcc29;
  margin-bottom: 40px;
}

.hero-box-button {
  margin-top: 30px;
  font-size: 2em;
  width: 70%;
  background-color: #ffcc29;
  color: #34164b;
  border: none;
  border-radius: 20px;
}
.hero-box-button:hover {
  font-weight: bold;
  background-color: #ffda60;
}

table {
  margin: 0 auto;
  widows: 500px;
}

td {
  width: 50%;
  height: 40px;
  padding: 5px;
}

input, textarea {
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  background: #ffda60;
  color: #34164b;
}

input {
  height: 100%;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .hero-boxes {
    position: absolute;
    top: 50px;
    margin: 0;
    top: 0;
  }

  .hero-box {
    margin: 10px 30px;
  }
}
@media (max-width: 600px) {
  #navbar div a, #navbar div button {
    border: none;
  }

  .nav-items-right {
    display: none;
  }

  .nav-burger {
    display: unset;
  }

  .nav-items-responsive {
    display: table;
    width: 100%;
  }
  .nav-items-responsive a, .nav-items-responsive button {
    width: 100%;
  }

  .nav-items-responsive a {
    display: block;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  footer a {
    float: left;
  }
  footer div {
    margin: 0 auto;
  }

  .hero-container {
    height: 78vh;
  }

  .hero-image {
    position: relative;
    height: 78vh;
    object-fit: cover;
  }

  .hero-boxes {
    display: flex;
    flex-direction: column;
    height: 78vh;
    justify-content: center;
  }

  .hero-box {
    width: 80%;
    height: 256px;
    min-height: initial;
  }

  .hero-box-header {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .hero-box-button {
    margin-top: 10px;
  }

  table {
    width: 100%;
  }

  td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.contact-table {
  margin-top: 40px;
  font-size: 20px;
  width: 800px;
}

.contact-submit-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background: #34164b;
  color: #ffcc29;
}
.contact-submit-button:hover {
  background: #9e5dcf;
  transition-duration: 0.4s;
  font-weight: bold;
}

@media (max-width: 870px) {
  .contact-table {
    width: 100%;
  }
  .contact-table td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.imprint {
  text-align: center;
}
.imprint p, .imprint h1, .imprint h3 {
  padding: 10px;
}

.login-table {
  border: 2px solid #34164b;
  font-size: 20px;
}

.login-text {
  text-align: center;
}
.login-text a {
  color: #34164b;
}

@media (max-width: 600px) {
  .login-table {
    border: none;
  }
}
.register-table {
  font-size: 20px;
  width: 800px;
}
.register-table select {
  width: 100%;
  background-color: #ffda60;
  border: 1px solid #9e5dcf;
  border-radius: 3px;
}

.register-table-label {
  width: 20%;
}

.register-table-input {
  width: 30%;
}

.register-table-message {
  color: red;
  font-size: initial;
}

#ClosedGroup {
  max-height: 50px;
  margin-top: 10px;
}

.city-search-button {
  padding: 5px;
  border: none;
  border-radius: 6px;
  background-color: #34164b;
  color: #ffcc29;
}
.city-search-button:hover {
  background-color: #9e5dcf;
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 870px) {
  .register-table {
    width: 100%;
  }
  .register-table td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .register-table {
    border: none;
    width: 100%;
  }

  .register-table-label {
    width: 100%;
  }

  .register-table-input {
    width: 100%;
  }
}
.profile-header {
  width: 100%;
}
.profile-header img {
  width: 100%;
}

.profile-options-private {
  width: 100%;
  text-align: right;
  padding: 0 10px;
  margin: 10px 0;
}
.profile-options-private a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #34164b;
}
.profile-options-private a:hover {
  background: #ffda60;
}
.profile-options-private button {
  border: none;
  background: none;
  font-weight: bold;
  color: #34164b;
  padding: 5px;
  border-radius: 5px;
}
.profile-options-private button:hover {
  background: #ffda60;
}

.profile-features-private {
  width: 100%;
  padding: 0 20px;
}
.profile-features-private a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}
.profile-features-private a:hover {
  font-weight: bold;
}

.profile-options-public {
  width: 100%;
  text-align: right;
}
.profile-options-public button {
  border: none;
  margin-right: 40px;
  padding: 10px;
  background: #34164b;
  color: #ffcc29;
  font-size: 1.2em;
  border-radius: 15px;
}
.profile-options-public button:hover {
  background-color: #9e5dcf;
  font-weight: bold;
}

.request-error {
  margin-right: 40px;
}

.profile-description table {
  font-size: 1.5em;
}
.profile-description td {
  padding: 0;
  height: 100%;
}
.profile-description td:nth-child(even) {
  font-weight: bold;
}

@media (max-width: 600px) {
  .profile-header {
    display: none;
  }

  .profile-heading {
    text-align: center;
  }

  .profile-description table {
    margin: 20px;
  }

  .profile-options-public {
    margin-top: 10px;
  }
}
.search-links {
  text-align: center;
  line-height: 80px;
}
.search-links a {
  font-size: 30px;
  border-radius: 6px;
  background: #34164b;
  color: #ffcc29;
  text-decoration: none;
  padding: 10px;
}
.search-links a:hover {
  background: #9e5dcf;
  transition-duration: 0.4s;
  font-weight: bold;
}

.search-table select {
  background: #ffda60;
  width: 100%;
}

.save-search-button {
  width: 25%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background: #34164b;
  color: #ffcc29;
}
.save-search-button:hover {
  background: #9e5dcf;
  transition-duration: 0.4s;
  font-weight: bold;
}

.search-result-table {
  width: 80%;
  margin: 0 auto;
}
.search-result-table thead {
  background-color: #ffda60;
}
.search-result-table th {
  font-size: 1.2em;
  padding-left: 5px;
}
.search-result-table td {
  width: 25%;
}
.search-result-table tr {
  border-bottom: 1px solid grey;
}
.search-result-table tfoot {
  text-align: center;
}
.search-result-table tfoot tr {
  border: none;
}
.search-result-table tfoot td {
  margin-top: 20px;
}

.search-result-artistname {
  font-weight: bold;
}

.search-result-message {
  padding-left: 20px;
}

@media (max-width: 600px) {
  .td-select {
    height: 90px;
  }

  .search-result-table {
    text-align: center;
    width: 100%;
  }
  .search-result-table thead {
    display: none;
  }
  .search-result-table td {
    width: 100%;
  }

  .save-search-button {
    width: 100%;
  }

  .search-result-artistname {
    font-size: 1.2em;
  }
}
#pwa_hero_boxes {
  top: 25%;
}
#pwa_hero_boxes .hero-box {
  min-height: 0;
  height: auto;
}

.graywall {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.a2hs {
  visibility: hidden;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20%;
  width: 50%;
  background-color: #ffcc29;
  border-color: #34164b;
  border: 3px solid;
  border-radius: 40px;
  z-index: 2;
  min-height: 275px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a2hs .a2hs-child {
  text-align: center;
  font-size: 3em;
  color: #34164b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.a2hs .a2hs-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a2hs button {
  margin: 0;
  z-index: 1;
  padding: 0 10px;
  height: 50%;
  border-radius: 20px;
  color: #ffcc29;
}
.a2hs .a2hs-install {
  border-color: #34164b;
  background-color: #34164b;
  margin-right: 5%;
}
.a2hs .a2hs-cancel {
  border-color: red;
  background-color: red;
}

#pwa_hero_boxes {
  top: 32.5%;
}
#pwa_hero_boxes .hero-box {
  margin: 0 10%;
}

.a2hs {
  width: 90%;
  height: 25%;
}

/*# sourceMappingURL=main.css.map */
