.contact-table
    margin-top: 40px
    font-size: 20px
    width: 800px

.contact-submit-button
    width: 100%
    height: 100%
    border: none
    border-radius: 6px
    background: rgb(52,22,75)
    color: rgb(255,204,41)
    &:hover
        background: rgb(158,93,207)
        transition-duration: 0.4s
        font-weight: bold