@media (min-width: 601px) and ( max-width:  1000px)
    .hero-boxes
        position: absolute
        top: $navheight
        //border: 2px dotted red
        margin: 0
        top: 0

    .hero-box
        margin: 10px 30px
        //border: 2px dotted green

@media (max-width: 600px)
    #navbar div 
        a, button
            border: none

    .nav-items-right
        display: none
    //#navbar a:not(.nav-no-hover)
    //    display: none

    .nav-burger
        display: unset

    //#navbar
    //    display: block
    .nav-items-responsive
        display: table
        width: 100%
        a, button
            width: 100%

    .nav-items-responsive a
        display: block
        text-align: center

    footer
        display: flex
        flex-direction: column
        & a
            float: left
        & div
            margin: 0 auto

    .hero-container
        height: 78vh

    .hero-image
        position: relative
        height: 78vh
        object-fit: cover


    .hero-boxes
        display: flex
        flex-direction: column
        height: 78vh
        justify-content: center

    .hero-box
        width: 80%
        height: 256px
        min-height: initial

    .hero-box-header
        font-size: 2em
        margin-bottom: 10px

    .hero-box-button
        margin-top: 10px

    table 
        width: 100%

    td
        display: flex
        flex-direction: column
        width: 100%

