.profile-header
    width: 100%
    & img
        width: 100%

.profile-options-private
    width: 100%
    text-align: right
    padding: 0 10px
    margin: 10px 0
    & a
        text-decoration: none
        font-weight: bold
        padding: 5px
        border-radius: 5px
        border: 1px solid rgb(52,22,75)
        &:hover
            background: #ffda60
    & button
        border: none
        background: none
        font-weight: bold
        color: rgb(52,22,75)
        padding: 5px
        border-radius: 5px
        &:hover
            background: #ffda60

.profile-features-private
    width: 100%
    padding: 0 20px
    & a
        text-decoration: none
        //font-weight: bold
        border-radius: 5px
        font-size: 1.2em
        &:hover
            font-weight: bold

.profile-options-public
    width: 100%
    text-align: right
    & button
        border: none
        margin-right: 40px
        padding: 10px
        background: rgb(52,22,75)
        color: rgb(255,204,41)
        font-size: 1.2em
        border-radius: 15px
        &:hover
            background-color: rgb(158,93,207)
            font-weight: bold

.request-error
    margin-right: 40px

.profile-description
    & table
        font-size: 1.5em
    // & tr
    //     padding: 0
        
    & td
        //border: 1px solid black
        padding: 0
        height: 100%

    & td:nth-child(even)
            font-weight: bold

    //& tr
        //border-top: 1px solid black
