@media (max-width: 600px)
    .profile-header
        display: none

    .profile-heading
        text-align: center

    .profile-description table
        margin: 20px

    .profile-options-public
        margin-top: 10px