$gelb: #ffcc29
$violett: $bgcol

// offline.html
#pwa_hero_boxes
    top: 25%
    .hero-box
        min-height: 0
        height: auto 

// ADD TO Homescreen

.graywall
    position: fixed
    padding: 0
    margin: 0
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    visibility: hidden
    z-index: 1
    width: 100%
    height: 100%

.a2hs
    visibility: hidden
    //display: block
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 50%
    transform: translateY(-50%)
    //top: 40%
    height: 20%
    width: 50%
    //margin-left: 25%
    background-color: $gelb
    border-color: $violett
    border: 3px solid
    border-radius: 40px
    z-index: 2
    min-height: 275px
    max-width: 500px
    display: flex
    justify-content: center
    align-items: center

    .a2hs-child
        text-align: center
        font-size: 3em
        color: $violett
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    .a2hs-btns
        margin-top: 20px
        display: flex
        justify-content: center
        align-items: center

    button
        margin: 0
        z-index: 1
        padding: 0 10px
        height: 50%
        border-radius: 20px
        color: $gelb

    .a2hs-install
        border-color: $violett
        background-color: $violett
        margin-right: 5%

    .a2hs-cancel
        border-color: red
        background-color: red

@media (max-width: 600px)
// offline.html
#pwa_hero_boxes
    top: 32.5%
    .hero-box
        margin: 0 10%
// ADD TO Homescreen
.a2hs
    width: 90%
    //margin-left: 5%
    height: 25%
       //top: 45% - 12.5%
