@media (min-width: 601px) and ( max-width: 870px)
    .register-table
        width: 100%
        & td
            display: flex
            flex-direction: column
            width: 100%
    
@media (max-width: 600px)
    .register-table
        border: none
        width: 100% 

    .register-table-label
        width: 100%

    .register-table-input
        width: 100%
