.register-table
    //border: 2px solid rgb(52,22,75)
    font-size: 20px
    width: 800px
    & select
        width: 100%
        background-color: #ffda60
        border: 1px solid rgb(158,93,207)
        border-radius: 3px

.register-table-label
    width: 20%

.register-table-input
    width: 30%

.register-table-message
    color: red
    font-size: initial

#ClosedGroup
    max-height: 50px
    margin-top: 10px

.city-search-button
    padding: 5px
    border: none
    border-radius: 6px
    background-color: rgb(52,22,75)
    color: rgb(255,204,41)
    &:hover
        background-color: rgb(158,93,207)
        font-weight: bold