@media (max-width: 600px)
    .td-select
        height: 90px

    .search-result-table
        text-align: center
        width: 100%
        & thead
            display: none
        & td
            width: 100%
        
    .save-search-button
        width: 100%

    .search-result-artistname
        font-size: 1.2em 
