.search-links
    text-align: center
    line-height: 80px
    & a
        font-size: 30px
        border-radius: 6px
        background: rgb(52,22,75)
        color: rgb(255,204,41)
        text-decoration: none
        padding: 10px
        &:hover
            background: rgb(158,93,207)
            transition-duration: 0.4s
            font-weight: bold

.search-table
    & select
        background: #ffda60
        width: 100%

.save-search-button
    width: 25%
    height: 100%
    border: none
    border-radius: 6px
    background: rgb(52,22,75)
    color: rgb(255,204,41)
    &:hover
        background: rgb(158,93,207)
        transition-duration: 0.4s
        font-weight: bold

.search-result-table
    width: 80%
    margin: 0 auto
    & thead
        background-color: #ffda60
    & th
        font-size: 1.2em
        padding-left: 5px
    & td
        width: 25%
    & tr
        border-bottom: 1px solid grey
    & tfoot
        text-align: center
        & tr
            border: none
        & td
            margin-top: 20px

.search-result-artistname
    font-weight: bold

.search-result-message
    padding-left: 20px