//sass --watch Style:Musikernetzwerk\Musikernetzwerk\Content

$bgcol: rgb(52,22,75)
$bgcolhover: rgb(158,93,207)
$logotextcol: rgb(255,204,41)
$logotextcolhover: #ffda60

$navheight: 50px
$footerheight: 50px

@font-face 
    font-family: 'Lobster'
    src: url(Fonts/Lobster/Lobster-Regular.ttf)

@font-face 
    font-family: 'OpenSans'
    src: url(Fonts/Open_Sans/OpenSans-Regular.ttf)

*
    font-family: 'OpenSans'
    box-sizing: border-box
    margin: 0
    padding: 0
    
p, a, h1, h2, h3, h4, h5, h6 //warum?
    margin: 0

h1
    padding: 20px 0px
    font-family: 'Lobster'
    text-align: left

a
    color: $bgcol
    &:hover
        color: $bgcol

html
    height: 100%
    width: 100%

body
    height: 100%
    width: 100%
    max-width: 100%

header
    position: fixed
    width: 100%
    top: 0px
    z-index: 1

main
    margin-top: $navheight
    min-height: calc(100% - #{$navheight})// - #{$footerheight})
    text-align: justify
    & p, h1 ,h2, h3, h4, h5, h6
        margin: 0px 20px

#navbar
    min-height: $navheight
    background-color: $bgcol
    border-bottom: 1px solid $logotextcol
    & a, button
        float: right
        text-align: center
        text-decoration: none
        height: $navheight
        padding: 10px
        color: $logotextcol
        font-size: 18px
        border-bottom: 1px solid $logotextcol
        transition-duration: 0.4s
        &:not(.nav-no-hover):hover
            background-color: $bgcolhover
            cursor: pointer

.nav-items-left
    float: left

.lang-btn
    background-color: $bgcol
    border: none
    border-left: 1px solid $logotextcol

.nav-lang-btns
    background: red

.nav-burger
    float: right
    cursor: pointer
    display: none
    //height: $navheight
    margin: 5px

.bar1, .bar2, .bar3
    width: 35px
    height: 5px
    background-color: $logotextcol
    margin: 6px 0px
    transition: 0.4s

.change .bar1
    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
    transform: rotate(-45deg) translate(-9px, 6px)

.change .bar2
    opacity: 0

.change .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-8px, -8px)

#logo-img
    height: calc(#{$navheight} - 30%)
    position: relative
    bottom: 15%

footer
    min-height: $footerheight
    background-color: darkgrey
    border-top: 1px solid grey
    & a
        float: right
        text-align: center
        text-decoration: none
        height: $footerheight
        padding: 10px
        color: black
        margin: auto 0
        &:hover
            color: black
            cursor: pointer

.footer-items-left
    float: left

.footer-social
    width: 30px
    &:hover
        background-color: $logotextcol
        border-radius: 5px

.hero-container
    height: 100vh
    width: 100%
    position: relative

.hero-image
    position: relative
    height: 100%
    width: 100%
    object-fit: cover
    z-index: 0


.hero-boxes
    text-align: center
    color: white
    position: absolute
    display: flex
    height: 100vh
    width: 100%
    top: 0 
    justify-content: center
    align-items: center
    

.hero-box
    background-color: rgba(0,0,0,0.3)
    height: 30%
    width: 35%
    margin: auto  
    padding: 20px
    border-radius: 40px
    min-height: 300px

.hero-box-header
    font-size: 3em
    color: $logotextcol
    margin-bottom: 40px

.hero-box-button
    margin-top: 30px
    font-size: 2em
    width: 70%
    background-color: $logotextcol
    color: $bgcol
    border: none
    border-radius: 20px
    &:hover
        font-weight: bold
        background-color: $logotextcolhover

table
    margin: 0 auto
    widows: 500px

td
    width: 50%
    height: 40px
    padding: 5px

input, textarea
    width: 100%
    padding-left: 10px
    border: none
    border-radius: 3px
    background: $logotextcolhover
    color: $bgcol

input
    height: 100%

// textarea
//     width: 100%
//     padding-left: 10px

///////////////////////////////////////////////////////
// IMPORTS
///////////////////////////////////////////////////////

@import "_main_responsive.sass"
@import "_contact.sass"
@import "_contact_responsive.sass"
@import "_imprint.sass"
@import "_login.sass"
@import "_login_responsive.sass"
@import "_registration.sass"
@import "_registration_responsive.sass"
@import "_profile.sass"
@import "_profile_responsive.sass"
@import "_search.sass"
@import "_search_responsive.sass"

///////////////////////////////////////////////////////
// Ladner
///////////////////////////////////////////////////////

@import "_pwa.sass"