﻿@model Musikernetzwerk.Models.ViewModels.BandModel

<table>
    <tr>
        <td>@Resources.Resources.Bandname:</td>
        <td>@Model.Band.Bandname</td>
    </tr>
    <tr>
        <td>@Resources.Resources.Ort:</td>
        @if (Model.City == null)
        {
            <td>-</td>
        }
        else
        {
            <td>@Model.City.CityName</td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Genre:</td>
        @if (Model.OldChosenGenres == null)
        {
            <td>-</td>
        }
        else
        {
            <td>
                @foreach (var g in Model.OldChosenGenres)
                {
                    <span>@g.De</span><br />
                }
            </td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Mitglieder:</td>
        @if (Model.Musicians == null)
        {
            <td>-</td>
        }
        else
        {
            <td>
                @foreach (var m in Model.Musicians)
                {
                    <span>@m.ArtistName</span><br />
                }
            </td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Mitglieder_Anzahl:</td>
        @if (Model.Musicians == null)
        {
            <td>0</td>
        }
        else
        {
            <td>@Model.Musicians.Count</td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Können:</td>
        <td>@Model.Band.Skill</td>
    </tr>
    <tr>
        <td>@Resources.Resources.E_Mail:</td>
        <td>@Model.Band.Email</td>
    </tr>
</table>
<h2 class="profile-heading">@Resources.Resources.Beschreibung</h2>
<p>@Model.Band.Description</p>
