﻿@model Musikernetzwerk.Models.ViewModels.BandModel
<!-- hier wird der Datentyp angegeben, der für diese View verwendet wird (hier das ViewModel BandModel);
in dieser View wird das öffentliche Profil einer Band angezeigt;
die View empfängt also das oben genannte BandModel;
-->

@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Band;
    <!-- angeben des Titels: in der _Layout.cshtml Datei sieht die Titelangabe so aus:
    <title>WeBand - (at)ViewBag.Title</title>
    Resources.Resources.Band: wegen der Mehrsprachigkeit wird die Resource geladen (abhängig von der aktuellen Sprache);
    in diesem Fall lautet die deutsche (und englische) Resource "Band";
    -> der Titel lautet "WeBand - Band"
    -->
}
<body style="background: rgba(52,22,75,0.25)">
    <!-- normaler HTML-Code -->
    <div class="profile-header">
        <img src="../Content/Images/water1.jpg" alt="musician" />
    </div>

    <h2 class="profile-heading">@Resources.Resources.Band: @Model.Band.Bandname</h2>
    <!-- mit (at)Model.Band.Bandname wird auf den geladenen Bandnamen zugegriffen;
    das Kleiner-Zeichen von </h2> ist das Signal für die Umstellung von C/# auf HTML;   
    -->

    <div class="profile-options-public">
        @if (Session["Musician"] != null)
        {
            <button id="band-request-button" onclick="location.href='@Url.Action("SendRequestToBand", "Musician", new { bandid = Model.Band.BandID })'">
                @Resources.Resources.Anfrage_senden
            </button><br />
            <!-- bei Anklicken dieses Buttons wird die serverseitige Methode "SendRequestToBand" im Musician-Controller mit dem Parameter "bandid = Model.Band.BandID" ausgeführt;
            Achtung: der Parametername ("bandid") muss exakt dem der Methode entsprechen    
            -->

        }
        else
        {
            <span class="request-error">@Resources.Resources.Nur_Musiker_Anfrage</span>
        }
        <!-- die if-Abfrage kontorlliert, ob der Benutzer als Musiker angemeldet ist;
        nur Musiker können Anfragen an Bands stellen -> diesen Hinweis erhaltet man im else-Sektor;    
        -->

    </div>

    <div class="profile-description">
    @Html.Partial("BandProfile")
    </div>
</body>

