﻿@model List<Musikernetzwerk.Models.ViewModels.MusicianBandRequestModel>
@using Musikernetzwerk.Models.ViewModels;
@{
    ViewBag.Title = Resources.Resources.Anfragen;
}
<body style="background: rgba(52,22,75,0.25)">
    <h2>@Resources.Resources.Anfragen:</h2>
    <table @*class="request-table"*@ class="search-result-table">
        <thead>
            <tr>
                <th>@Resources.Resources.Musiker</th>
                <th>@Resources.Resources.Vorname</th>
                <th>@Resources.Resources.Nachname</th>
                <th colspan="2">@Resources.Resources.Entscheidung</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MusicianBandRequestModel b in Model)
            {
                <tr>
                    <td>@Html.ActionLink(b.Musician.ArtistName, "GetMusicianPublic", "Musician", new { musicianId = b.Musician.MusicianID }, new { @class = "search-result-artistname" })
                    <td>@b.Musician.FirstName</td>
                    <td>@b.Musician.LastName</td>
                    <td>@Html.ActionLink(Resources.Resources.Annehmen, "AcceptRequest", "Band", new { musicianbandRequestId = b.Request.BandRequestID }, new { @class = "accept-request" })</td>
                    <td>@Html.ActionLink(Resources.Resources.Ablehnen, "RejectRequest", "Band", new { musicianbandRequestId = b.Request.BandRequestID }, new { @class = "reject-request" })</td>
                </tr>
            }

        </tbody>

    </table>
</body>


