﻿@model Musikernetzwerk.Models.ViewModels.BandModel
@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Band;
}
<body style="background: rgba(52,22,75,0.25)">
    <div class="profile-header">
        <img src="../Content/Images/water1.jpg" alt="musician" />
    </div>

    <h2 class="profile-heading">@Resources.Resources.Band: @Model.Band.Bandname</h2>

    <div class="profile-options-private">
        <a href="~/Login/LogoutBand">@Resources.Resources.Ausloggen</a>
        @if (Session["Band"] != null)
        {
            @Html.ActionLink(Resources.Resources.Bearbeiten, "ChangeBandDataWithGenres", "Band")
        }
    </div>
    <div class="profile-features-private">
            <a href="~/Band/GetBandRequests">@Resources.Resources.Anfragen</a> <br />
            <a href="~/Band/GetBandSavedSearches">@Resources.Resources.Gespeicherte_Suchen</a>
    </div>

    <div class="profile-description">
    @Html.Partial("BandProfile")
    </div>
</body>

