﻿@{
    ViewBag.Title = @Resources.Resources.Suche;
}

<body style="background: rgba(52,22,75,0.25)">
    <h1>@Resources.Resources.Suche</h1>
    <div class="search-links">
        <a href="~/SearchAfterMusician/SearchAfterMusician"> @Resources.Resources.Musikersuche</a><br />
        <a href="~/SearchAfterBand/SearchAfterBand"> @Resources.Resources.Bandsuche</a>
    </div>
</body>

