﻿@model Musikernetzwerk.Models.ViewModels.SearchAfterMusicianModel
@{
    ViewBag.Title = @Resources.Resources.Musikersuche;
}

<body style="background: rgba(52,22,75,0.25)">
    <h1>@Resources.Resources.Musikersuche</h1>

    @using (Html.BeginForm())
    {
        @*Hier (S)CSS / Mehrsprachigkeit (siehe z.B: LoginBand.cshtml) noch bearbeiten*@
        <table class="search-table">
            @if((Session["Musician"] != null)||(Session["Band"] != null))
            {
                <tr>
                <td>
                    @Html.LabelFor(b => b.CityDistance, Resources.Resources.Umkreis_in_km + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(b => b.CityDistance)
                </td>
            </tr>
            }
            
            <tr>
                <td>
                    @Html.LabelFor(b => b.SkillMin, Resources.Resources.min_Können + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(b => b.SkillMin)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(b => b.SkillMax, Resources.Resources.max_Können + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(b => b.SkillMax)
                </td>
            </tr>
            @*
                <tr>
                <td>
                    @Html.LabelFor(m => m.Birthdate, Resources.Resources.Geburtsdatum + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Birthdate, new { type = "date" })
                </td>
            </tr>
                *@
            <tr>
                <td>
                    @Html.LabelFor(b => b.Instruments, Resources.Resources.Instrument + ": ")
                </td>
                <td class="td-select">
                    @Html.ListBoxFor(b => b.ChosenInstrumentIDs, Model.Instruments)
                </td>
                @*<td>

                </td>*@
            </tr>

            <tr>
                <td><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                <td><button type="submit" class="contact-submit-button">@Resources.Resources.Suche</button></td>
            </tr>
        </table>
    }
</body>



