﻿@model List<Musikernetzwerk.Models.ViewModels.SearchAfterMusicianResultModel>
@using Musikernetzwerk.Models.ViewModels
@{
    ViewBag.Title = @Resources.Resources.Musikersuche;
}
    <body style="background: rgba(52,22,75,0.25)">
        <h1>@Resources.Resources.Suchergebnis</h1>
        @if ((Model != null) && (Model.Count >= 1))
        {
            <table class="search-result-table">
                <thead>
                    <tr>
                        <th>@Resources.Resources.Künstlername</th>
                        <th>@Resources.Resources.Vorname</th>
                        <th>@Resources.Resources.Nachname</th>
                        <th>@Resources.Resources.Ort</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (SearchAfterMusicianResultModel m in Model)
                    {
                        <tr>
                            <td class="search-result-artistname">
                                @Html.ActionLink(m.ArtistName, "GetMusicianPublic", "Musician", new { musicianId = m.MusicianID }, null)
                            </td>
                            <td>@m.FirstName</td>
                            <td>@m.LastName</td>
                            <td>@m.CityName</td>
                        </tr>
                    }
                </tbody>
                @if(Session["Band"] != null)
                {
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <input id="saveSearchbutton" type="button" value="@Resources.Resources.Suche_speichern" onclick="save_Search()" class="save-search-button" />
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>            
        }
        else
        {
            <div class="search-result-message">@Resources.Resources.Keine_Musiker</div>
        }




    </body>


<script>
function save_Search() {
    $.post({
      type: "POST",
      url: "/SearchAfterMusician/saveSearch",
      success: function(){
          $("#saveSearchbutton").val("Done!");
          $("#saveSearchbutton").attr("onclick","");;
      },
      error:  function(){
          $("#saveSearchbutton").val("Error!");
      }
    

    });
    
    }
</script>



