﻿@{
    ViewBag.Title = Resources.Resources.Impressum;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div class="imprint">
        <h1>@Resources.Resources.Impressum</h1>
        <h3>@Resources.Resources.Offenlegungspflicht_laut</h3>
        <h3>@Resources.Resources.Firmensitz</h3>
        <p>
            Höhere Technische Bundeslehranstalt Anichstraße<br />
            Anichstraße 26 - 28<br />
            A-6020 Innsbruck<br />
            +43 - (0) 512 - 59717 - 0<br />
            Fax.: +43 - (0) 512 - 59717 - 72<br />
        </p>
        <h3>@Resources.Resources.Geschäftsführung</h3>
        <p>
            Ladner Jonas <br />
            jonladner@tsn.at
        </p>
        <p>
            Gatt Marian <br />
            mariangatt@tsn.at
        </p>
        <p>
            Egger Benjamin <br />
            benjamiegger@tsn.at
        </p>
        <br /><br />
        <a href="http://www.freepik.com" style="font-size:0.5em">Images designed by Freepik</a>
    </div>

</body>
</html>
