﻿@{
    ViewBag.Title = "Home";
} @*setzt den tag <title>Index</title>*@
    <div class="hero-container">
        <img src="../Content/Images/hero.jpg" alt="BlueMusician" class="hero-image" />

        <div class="hero-boxes">
            <div class="hero-box" id="hero-box-left" style="display: none">
                <div class="hero-box-header">
                    @Resources.Resources.Band
                </div>
                <div class="hero-box-text">
                    @Resources.Resources.Text_login_band
                </div>
                <div class="hero-box-footer">
                    <button class="hero-box-button" onclick="loginLinkBand()">@Resources.Resources.Login</button>
                </div>
            </div>
            <div class="hero-box" id="hero-box-right" style="display: none">
                <div class="hero-box-header">
                    @Resources.Resources.Musiker
                </div>
                <div class="hero-box-text">
                    @Resources.Resources.Text_login_musiker
                </div>
                <div class="hero-box-footer">
                    <button class="hero-box-button" onclick="loginLinkMusician()">@Resources.Resources.Login</button>
                </div>
            </div>
        </div>
    </div>

<div style="background: rgba(52,22,75,0.25)">
    <h1> @Resources.Resources.Über_uns</h1>
    <p>@Resources.Resources.Text_über_uns_1</p><br />
    <p>@Resources.Resources.Text_über_uns_2</p><br />
    <p>@Resources.Resources.Text_über_uns_3</p>
    <br /><br />
</div>


