﻿@model Musikernetzwerk.Models.EMail
@{
    ViewBag.Title = Resources.Resources.Kontakt;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div class="introduction-paragraph">
        <h1>@Resources.Resources.Kontakt_aufnehmen</h1>
        <p>
            @Resources.Resources.Text_kontakt
        </p>
    </div>
    @using (Html.BeginForm())
    {
        <table class="contact-table">
            <tr>
                <td><input placeholder="@Resources.Resources.Vorname" /></td>
                <td><input placeholder="@Resources.Resources.Nachname" /></td>
            </tr>
            <tr>
                @*<td colspan="2"><input placeholder="@Resources.Resources.E_Mail_Adresse" /></td>*@
                <td colspan="2">
                    @Html.TextBoxFor(e => e.Address, new { placeholder = Resources.Resources.E_Mail_Adresse })
                </td>
            </tr>
            <tr>
                @*<td colspan="2"><textarea placeholder="@Resources.Resources.Nachricht"></textarea></td>*@
                @*<td colspan="2">
                    @Html.TextBoxFor(e => e.Message, new { placeholder = Resources.Resources.Nachricht })
                </td>*@
                <td colspan="2">
                    @Html.TextAreaFor(e => e.Message, new { placeholder = Resources.Resources.Nachricht })
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="contact-submit-button">@Resources.Resources.Senden</button></td>
            </tr>
        </table>
    }
</body>
</html>

