﻿@using Musikernetzwerk.Controllers;
<!DOCTYPE public html lang="de">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">

    <meta name="theme-color" content="#34164a" />
    <link rel="manifest" href="/manifest.json">

    @*<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">*@

    <title>WeBand - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="navbar">
            @Html.Partial("Navigation")
        </div>
    </header>
    <main>
    @*</div>*@
        <content>
            @RenderBody()
        </content>
    <div class="graywall"></div>
    <div class="a2hs">
    <div class="a2hs-child">
    <div>@Resources.Resources.PWA_A2HS_Header</div>
    <div class="a2hs-btns">
        <button class="a2hs-install">@Resources.Resources.PWA_A2Hs_Ja</button>
        <button class="a2hs-cancel">@Resources.Resources.PWA_A2Hs_Nein</button>
    </div>
    </div>
    </div>
    </main>
    <footer>
        @Html.Partial("Footer")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/PWA")
    @Scripts.Render("~/bundles/Lang") @*Eventuell auf Startseite verschieben*@
    @RenderSection("scripts", required: false)
</body>
</html>
