﻿@model Musikernetzwerk.Models.ViewModels.BandModel
@using (Html.BeginForm())
{
    <body style="background: rgba(52,22,75,0.25)">
        <table class="register-table">
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Band.Bandname, Resources.Resources.Bandname + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Band.Bandname)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Band.Bandname)
                    </td>
                }
            </tr>

            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.Band.Description, Resources.Resources.Beschreibung + ": ")
                </td>
                <td class="register-table-textarea">
                    @Html.TextAreaFor(b => b.Band.Description)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(b => b.Band.Description)
                    </td>
                }
            </tr>

            <tr>
                <td class="register-table-label">@Resources.Resources.Postleitzahl:</td>
                <td class="register-table-input">
                    <input id="postalcode" />
                </td>
            <tr>
                <td class="register-table-label">@Resources.Resources.Ort:</td>
                <td class="register-table-input">
                    <input id="cityname" />
                </td>
            </tr>
            <tr>
                <td class="register-table-label">
                    <button id="search-city" class="city-search-button">@Resources.Resources.Nach_Ort_suchen</button>
                </td>
                <td>
                    <select name="City.CityID" id="City_CityID">
                    </select>
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.City)
                    </td>
                }
            </tr>

            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.NewChosenGenres, Resources.Resources.Genre + ": ")
                </td>
                <td>
                    @Html.ListBoxFor(b => b.NewChosenGenreIDs, Model.GenreSelectList)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.NewChosenGenreIDs)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.Band.MemberCount, Resources.Resources.Mitglieder_Anzahl + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(b => b.Band.MemberCount)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(b => b.Band.MemberCount)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Band.Skill, Resources.Resources.Können + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Band.Skill)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Band.Skill)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.Band.ClosedGroup, Resources.Resources.Geschlossen + " ")
                </td>
                <td class="register-table-input">
                    @Html.CheckBoxFor(b => b.Band.ClosedGroup)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-input">
                        @Html.ValidationMessageFor(b => b.Band.ClosedGroup)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.Band.Email, Resources.Resources.E_Mail + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(b => b.Band.Email, new { type = "email" })
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(b => b.Band.Email)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(b => b.Band.PasswordHash, Resources.Resources.Passwort + ": ")
                </td>
                <td class="register-table-input">
                    @Html.PasswordFor(b => b.Band.PasswordHash)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(b => b.Band.PasswordHash)
                    </td>
                }
            </tr>

            <tr>
                <td class="register-table-label"><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                <td class="register-table-input"><button type="submit" class="contact-submit-button">@Resources.Resources.Speichern</button></td>
            </tr>
        </table>
    </body>

}