﻿@*@{
        ViewBag.Title = "Footer";
    }*@
<div class="footer-items-left">
    <a href="https://www.youtube.com/">
        <img src="~/Content/Images/youtube.svg" alt="YouTube" class="footer-social" />
    </a>
    <a href="https://www.instagram.com/">
        <img src="~/Content/Images/instagram.svg" alt="Instagram" class="footer-social" />
    </a>
    <a href="https://twitter.com/">
        <img src="~/Content/Images/twitter.svg" alt="Twitter" class="footer-social" />
    </a>
    <a href="https://www.facebook.com/">
        <img src="~/Content/Images/facebook.svg" alt="Facebook" class="footer-social" />
    </a>
</div>

<div class="footer-items-right">
    <a href="~/Home/Imprint">@Resources.Resources.Impressum</a>
    @*<a href="">FAQs</a>*@
    <a href="~/Home/SendMail">@Resources.Resources.Kontakt</a>
</div>