﻿@model Musikernetzwerk.Models.Message
@{
    ViewBag.Title = "Error";
}
<body style="background: rgba(52,22,75,0.25)">
    <div style="margin: auto; text-align: center;">
        @if (Model != null)
        {
            if ((Model.Header != null) && (Model.Header.Trim() != ""))
            {
                <h3>@Model.Header</h3>
            }
            if ((Model.MessageText != null) && (Model.MessageText.Trim() != ""))
            {
                <p><b>@Resources.Resources.Nachricht:</b></p>
                <p>@Model.MessageText</p>
            }
        }
        else
        {
            <p>Es wurde keine Meldung übergeben!</p>
        }
    </div>
</body>

