﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel
@using (Html.BeginForm())
{
    <body style="background: rgba(52,22,75,0.25)">
        <table class="register-table">
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.FirstName, Resources.Resources.Vorname + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.FirstName)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.FirstName)
                    </td>
                }

            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.LastName, Resources.Resources.Nachname + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.LastName)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.LastName)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.ArtistName, Resources.Resources.Künstlername + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.ArtistName)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.ArtistName)
                    </td>
                }
            </tr>

            <tr>
                <td class="register-table-label">@Resources.Resources.Postleitzahl:</td>
                <td class="register-table-input">
                    <input id="postalcode" />
                </td>
            <tr>
                <td class="register-table-label">@Resources.Resources.Ort:</td>
                <td class="register-table-input">
                    <input id="cityname" />
                </td>
            </tr>
            <tr>
                <td class="register-table-label">
                    <button id="search-city" class="city-search-button">@Resources.Resources.Nach_Ort_suchen</button>
                </td>
                <td>
                    <select name="City.CityID" id="City_CityID">
                    </select>
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.City)
                    </td>
                }
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.InstrumentSelectList, Resources.Resources.Instrument + ": ")
                </td>
                <td class="td-select">
                    @Html.ListBoxFor(m => m.NewChosenInstrumentIDs, Model.InstrumentSelectList)
                </td>
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.Skill, Resources.Resources.Können + " " + Resources.Resources._allgemein + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.Skill)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.Skill)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.Birthdate, Resources.Resources.Geburtsdatum + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.Birthdate, new { type = "date" })
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.Birthdate)
                    </td>

                }
            </tr>
            <tr>
                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.Email, Resources.Resources.E_Mail + ": ")
                </td>
                <td class="register-table-input">
                    @Html.TextBoxFor(m => m.Musician.Email, new { type = "email" })
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.Email)
                    </td>
                }
            </tr>
            <tr>

                <td class="register-table-label">
                    @Html.LabelFor(m => m.Musician.PasswordHash, Resources.Resources.Passwort + ": ")
                </td>
                <td class="register-table-input">
                    @Html.PasswordFor(m => m.Musician.PasswordHash)
                </td>
                @if (!ViewData.ModelState.IsValid)
                {
                    <td class="register-table-message">
                        @Html.ValidationMessageFor(m => m.Musician.PasswordHash)
                    </td>
                }
            </tr>
            <tr>
                <td class="register-table-label"><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                <td class="register-table-input"><button type="submit" class="contact-submit-button">@Resources.Resources.Instrumenten_Können</button></td>
            </tr>
        </table>
    </body>

}