﻿@*@{
        ViewBag.Title = "Navigation";
    }*@

@using Resources

<div class="nav-items-left">
    <a href="~/Home/Index" class="nav-no-hover">
        <img alt="Logo" src="../Content/Images/logo_v1.png" id="logo-img" />
    </a>
</div>

<div class="nav-burger" onclick="transformNavBurger(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div class="nav-items-right">
    <div class="nav-lang-btns">
        <button onclick="set_lang('en')" class="lang-btn">EN</button>
        <button onclick="set_lang('de')" class="lang-btn">DE</button>
    </div>
    <a href="~/Home/Index"> @Resources.Home</a>
    <a href="~/SearchAfterMusician/SearchDecision"> @Resources.Suche</a>
    
    @if (Session["Musician"] != null)
    {
        Musikernetzwerk.Models.Musician m = ((Musikernetzwerk.Models.Musician)(Session["Musician"]));

        @Html.ActionLink(Resources.Mein_Profil, "GetMusicianPrivate", "Musician", new { musicianId = m.MusicianID }, null);
    }
    else if (Session["Band"] != null)
    {
        Musikernetzwerk.Models.Band b = ((Musikernetzwerk.Models.Band)(Session["Band"]));
        @Html.ActionLink(Resources.Mein_Profil, "GetBandPrivate", "Band", new { bandId = b.BandID }, null);
    }
</div>


