﻿@model Musikernetzwerk.Models.ViewModels.SearchAfterBandModel
@{
    ViewBag.Title = @Resources.Resources.Bandsuche;
}

<body style="background: rgba(52,22,75,0.25)">
    <h1>@Resources.Resources.Bandsuche</h1>

    @using (Html.BeginForm())
    {
        <table class="search-table">
            @if ((Session["Musician"] != null) || (Session["Band"] != null))
            {
                <tr>
                    <td>
                        @Html.LabelFor(b => b.CityDistance, Resources.Resources.Umkreis_in_km + ": ")
                    </td>
                    <td>
                        @Html.TextBoxFor(b => b.CityDistance)
                    </td>
                </tr>
            }

            <tr>
                <td>
                    @Html.LabelFor(b => b.SkillMin, Resources.Resources.min_Können + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(b => b.SkillMin)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(b => b.SkillMax, Resources.Resources.max_Können + ": ")
                </td>
                <td>
                    @Html.TextBoxFor(b => b.SkillMax)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(b => b.Genres, Resources.Resources.Genre + ": ")
                </td>
                <td class="td-select">
                    @Html.ListBoxFor(b => b.ChosenGenreIDs, Model.Genres)
                </td>
            </tr>

            <tr>
                <td><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                <td><button type="submit" class="contact-submit-button">@Resources.Resources.Suche</button></td>
            </tr>
        </table>
    }
</body>




