﻿@model List<Musikernetzwerk.Models.ViewModels.SearchAfterBandResultModel>
@using Musikernetzwerk.Models.ViewModels
@{
    ViewBag.Title = @Resources.Resources.Bandsuche;
}
<body style="background: rgba(52,22,75,0.25)">
    <h1>@Resources.Resources.Suchergebnis</h1>
    @if ((Model != null) && (Model.Count >= 1))
    {
        <table class="search-result-table">
            <thead>
                <tr>
                    <th>@Resources.Resources.Bandname</th>
                    <th>@Resources.Resources.Ort</th>
                    <th>@Resources.Resources.E_Mail</th>
                    <th>@Resources.Resources.Geschlossen</th>
                </tr>
            </thead>

            <tbody>
                @foreach (SearchAfterBandResultModel m in Model)
                {
                    <tr>
                        <td class="search-result-artistname">
                            @Html.ActionLink(m.Bandname, "GetBandPublic", "Band", new { bandId = m.BandID }, null)
                        </td>
                        <td>@m.CityName</td>
                        <td>@m.Email</td>
                        @if(m.ClosedGroup == true)
                        {
                            <td>@Resources.Resources.Ja</td>
                        }
                        else
                        {
                            <td>@Resources.Resources.Nein</td>
                        }
                    </tr>
                }
            </tbody>
            @if(Session["Musician"] != null)
            {
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input id="saveSearchbuttonBand" type="button" value="@Resources.Resources.Suche_speichern" onclick="save_SearchBand()" class="save-search-button" />
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    }
    else
    {
        <div class="search-result-message">@Resources.Resources.Keine_Bands</div>
    }




</body>


<script>
    function save_SearchBand() {
    $.post({
      type: "POST",
      url: "/SearchAfterBand/saveSearch",
      success: function(){
          $("#saveSearchbuttonBand").val("Done!");
          $("#saveSearchbuttonBand").attr("onclick","");;
      },
      error:  function(){
          $("#saveSearchbuttonBand").val("Error!");
      }
    

    });
    
    }
</script>



