﻿@model Musikernetzwerk.Models.Band
@{
    ViewBag.Title = @Resources.Resources.Login;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div>
        <h1>@Resources.Resources.Band - @Resources.Resources.Login</h1>
        @if (Session["Band"] != null)
        {
            Musikernetzwerk.Models.Band b = ((Musikernetzwerk.Models.Band)(Session["Band"]));
            <p>
                @Resources.Resources.Du_bist_bereits_als @b.Bandname (@Resources.Resources.Band) @Resources.Resources._angemeldet!@*Mehrsprachigkeit? Englisch andere Satzstellung????*@
                @Resources.Resources.Möchtest_du_dich <a href="~/Login/LogoutBand">@Resources.Resources._ausloggen</a>?
            </p>
        }
        else if (Session["Musician"] != null)
        {
            Musikernetzwerk.Models.Musician m = ((Musikernetzwerk.Models.Musician)(Session["Musician"]));
            <p>
                @Resources.Resources.Du_bist_bereits_als @m.ArtistName (@Resources.Resources.Musiker) @Resources.Resources._angemeldet!
                @Resources.Resources.Möchtest_du_dich <a href="~/Login/LogoutMusician">@Resources.Resources._ausloggen</a>?
            </p>
        }

        else
        {
            using (Html.BeginForm())
            {
                <table class="login-table">
                    <tr>
                        <td>
                            @Html.LabelFor(b => b.Email, Resources.Resources.E_Mail + ": ")
                        </td>
                        <td>
                            @Html.TextBoxFor(b => b.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(b => b.PasswordHash, Resources.Resources.Passwort + ": ")
                        </td>
                        <td>
                            @Html.PasswordFor(b => b.PasswordHash)
                        </td>
                    </tr>
                    <tr>
                        <td><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                        <td><button type="submit" class="contact-submit-button">@Resources.Resources.Login</button></td>
                    </tr>
                </table><br /><br />
                <div class="login-text">
                    <p>@Resources.Resources.Kein_Konto</p>
                    <a href="~/Login/RegistrationBand">@Resources.Resources.Registrieren</a>
                </div>
            }
        }
    </div>
</body>
</html>

