﻿@model Musikernetzwerk.Models.Musician
@{ 
    ViewBag.Title = Resources.Resources.Login;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div>
        <h1>@Resources.Resources.Musiker - @Resources.Resources.Login</h1>
        @if (Session["Band"] != null)
        {
            Musikernetzwerk.Models.Band b = ((Musikernetzwerk.Models.Band)(Session["Band"]));
            <p>
                Du bist bereits als @b.Bandname (Band) angemeldet! @*Mehrsprachigkeit*@
                Möchtest du dich <a href="~/Login/LogoutBand">ausloggen</a>?
            </p>
        }
        else if (Session["Musician"] != null)
        {
            Musikernetzwerk.Models.Musician m = ((Musikernetzwerk.Models.Musician)(Session["Musician"]));
            <p>
                Du bist bereits als @m.ArtistName (Musiker) angemeldet!
                Möchtest du dich <a href="~/Login/LogoutMusician">ausloggen</a>?
            </p>
        }
        else
        {
            using (Html.BeginForm())
            {
                <table class="login-table">
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Email, Resources.Resources.E_Mail + ": ")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.PasswordHash, Resources.Resources.Passwort + ": ")
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.PasswordHash)
                        </td>
                    </tr>
                    <tr>
                        <td><button type="reset" class="contact-submit-button">@Resources.Resources.Abbrechen</button></td>
                        <td><button type="submit" class="contact-submit-button">@Resources.Resources.Login</button></td>
                    </tr>
                </table><br /><br />
                <div class="login-text">
                    <p>@Resources.Resources.Kein_Konto</p>
                    <a href="~/Login/RegistrationMusician">@Resources.Resources.Registrieren</a>
                </div>
            }
        }
    </div>
</body>
</html>
