﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel
@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Registrierung;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div>
        <h1>@Resources.Resources.Musiker - @Resources.Resources.Registrierung</h1>
        @using (Html.BeginForm())
        {
            <table class="search-result-table">
                <thead>
                    <tr>
                        <th>@Resources.Resources.Instrument</th>
                        <th>@Resources.Resources.Können</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= Model.OldChosenInstruments.Count; i++)
                    {
                        <tr>
                            <td>@Model.OldChosenInstruments[i].De</td>
                            <td>
                                @Html.TextBoxFor(m => m.OldChosenInstruments[i].Skill)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="contact-submit-button">@Resources.Resources.Registrieren</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</body>
</html>
