﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = @Resources.Resources.Login;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div style="text-align: center">
        <h1>@Resources.Resources.CacheErstellung_h1 ...</h1>
        <h3>@Resources.Resources.CacheErstellung_h3</h3>
        <img src="~/Content/Images/logo_v1.png" style="height: 50px" />

    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            update_cache();
        })
        var urls = [
            "/",
            "/Home/Index",
            "/Home/Imprint",
            "/SearchAfterMusician/SearchDecision"
        ];
        function update_cache() {
            caches
                .delete("workbox-runtime-" + window.location.origin + "/");
            console.log("Runtime Cache deleted");
            console.log("AJAX Cache Requests started");
            $.each(urls, function (i, u) {
                $.ajax({
                    type: "GET",
                    url: u,
                    success: function () {
                        //alert("Ajax-Request finished" + u);
                    },
                    error: function () {
                        //alert("Ajax-Request failed" + u);
                    }
                });
            });

            $(document).ajaxStop(function () {
                console.log("AJAX Cache Requests finished");
                window.location.href = "/Home/Index";
            });
        }
    </script>
</body>

</html>


