﻿@model Musikernetzwerk.Models.ViewModels.BandModel
@using Musikernetzwerk.Models;

@{
    ViewBag.Title = Resources.Resources.Registrierung;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div>
        <h1>@Resources.Resources.Band - @Resources.Resources.Registrierung</h1>
        @Html.Partial("~/Views/Shared/BandForm.cshtml")
    </div>
</body>
</html>


