﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel
@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Bearbeiten;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background: rgba(52,22,75,0.25)">
    <div>
        @using (Html.BeginForm("ChangeMusicianDataWithInstrumentsFinal","Musician"))
        {
            <table class="search-result-table">
                <thead>
                    <tr>
                        <th>@Resources.Resources.Instrument</th>
                        <th>@Resources.Resources.Können</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.NewChosenInstruments.Count; i++)
                    {
                        <tr>
                            <td>@Model.NewChosenInstruments[i].De</td>
                            <td>
                                @Html.TextBoxFor(m => m.NewChosenInstruments[i].Skill)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="contact-submit-button">@Resources.Resources.Speichern</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</body>
</html>

