﻿@model List<Musikernetzwerk.Models.ViewModels.MusicianSavedSearchModel>
@using Musikernetzwerk.Models.ViewModels;
@using Musikernetzwerk.Models;
@using Resources;
@{
    ViewBag.Title = Resources.Gespeicherte_Suchen;
}

<body style="background: rgba(52,22,75,0.25)">
    <h1>@Resources.Gespeicherte_Suchen</h1>
    @if ((Model != null) && (Model.Count >= 1))
    {
        <table class="search-result-table">
            <thead>
                <tr>
                    <th>@Resources.Umkreis_in_km</th>
                    <th>@Resources.min_Können</th>
                    <th>@Resources.max_Können</th>
                    <th>@Resources.Genre</th>
                    <th>@Resources.Suche</th>
                    <th>@Resources.Löschen</th>
                </tr>
            </thead>
            <tbody>
                @foreach(MusicianSavedSearchModel m in Model)
                {
                    <tr>
                        <td>@m.SearchProperty.CityDistance_max</td>
                        <td>@m.SearchProperty.SkillMin</td>
                        <td>@m.SearchProperty.SkillMax</td>
                        <td>
                            @foreach (Genre g in m.Genres)
                            {
                                @g.De<br/>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(Resources.Suche, "GetSearchAfterModelWithSearchId", "SearchAfterBand", new { searchid = m.SearchProperty.MusicianBand_SearchID}, null)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.Löschen, "DeleteSavedSearchOfMusician", "Musician", new { searchid = m.SearchProperty.MusicianBand_SearchID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="search-result-message">-</div>
    }
</body>