﻿@model List<Musikernetzwerk.Models.ViewModels.BandMemberRequestModel>
@using Musikernetzwerk.Models.ViewModels;
@{
    ViewBag.Title = Resources.Resources.Anfragen;
}
<body style="background: rgba(52,22,75,0.25)">
    <h2>@Resources.Resources.Anfragen:</h2>
    <table class="search-result-table">
        <thead>
            <tr>
                <th>@Resources.Resources.Bandname</th>
                <th colspan="2">@Resources.Resources.Entscheidung</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BandMemberRequestModel b in Model)
            {
            <tr>
                <td>@Html.ActionLink(b.Band.Bandname, "GetBandPublic", "Band", new { bandId = b.Band.BandID }, new { @class = "search-result-artistname" })
                <td>@Html.ActionLink(Resources.Resources.Annehmen, "AcceptRequest", "Musician", new { bandMemberRequestId = b.Request.MemberRequestID }, new { @class = "accept-request" })</td>
                <td>@Html.ActionLink(Resources.Resources.Ablehnen, "RejectRequest", "Musician", new { bandMemberRequestId = b.Request.MemberRequestID  }, new { @class = "reject-request" })</td>
            </tr>
            }
        </tbody>
        
    </table>
</body>

