﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel
@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Musiker;
}
<body style="background: rgba(52,22,75,0.25)">
    <div class="profile-header">
        <img src="../Content/Images/water1.jpg" alt="musician" />
    </div>

    <h2 class="profile-heading">@Resources.Resources.Musiker: @Model.Musician.ArtistName</h2>

    <div class="profile-options-public">
        @if (Session["Band"] != null)
        {
            <button id="musician-request-button" onclick="location.href='@Url.Action("SendRequestToMusician", "Band", new { musicianid = Model.Musician.MusicianID })'">
                @Resources.Resources.Anfrage_senden
            </button><br />
        }
        else
        {
            <span class="request-error">@Resources.Resources.Nur_Bands_Anfrage</span>
        }
    </div>

    <div class="profile-description">
    @Html.Partial("MusicianProfile")
    </div>
</body>

