﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel
@using Musikernetzwerk.Models;
@{
    ViewBag.Title = Resources.Resources.Musiker;
}
    <body style="background: rgba(52,22,75,0.25)">
        <div class="profile-header">
            <img src="../Content/Images/water1.jpg" alt="musician" />
        </div>

        <h2 class="profile-heading">@Resources.Resources.Musiker: @Model.Musician.ArtistName</h2>

        <div class="profile-options-private">
            <a href="~/Login/LogoutMusician">@Resources.Resources.Ausloggen</a>
            @if (Session["Musician"] != null)
            {
                @Html.ActionLink(Resources.Resources.Bearbeiten, "ChangeMusicianDataWithInstruments", "Musician")
            }
            <br />
            

        </div>
        <div class="profile-features-private">
            <a href="~/Musician/GetMusicianRequests">@Resources.Resources.Anfragen</a> <br />
            <a href="~/Musician/GetMusicianSavedSearches">@Resources.Resources.Gespeicherte_Suchen</a>
        </div>

        <div class="profile-description">
        @Html.Partial("MusicianProfile")
        </div>
    </body>
