﻿@model Musikernetzwerk.Models.ViewModels.MusicianModel

<table>
    <tr>
        <td>@Resources.Resources.Vorname:</td>
        <td>@Model.Musician.FirstName</td>
    </tr>
    <tr>
        <td>@Resources.Resources.Nachname:</td>
        <td>@Model.Musician.LastName</td>
    </tr>
    <tr>
        <td>@Resources.Resources.Künstlername:</td>
        <td>@Model.Musician.ArtistName</td>
    </tr>
    <tr>
        <td>@Resources.Resources.Ort:</td>
        @if (Model.City == null)
        {
            <td>-</td>
        }
        else
        {
            <td>@Model.City.CityName</td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Instrument:</td>
        @if (Model.OldChosenInstruments == null)
        {
            <td>-</td>
        }
        else
        {
            <td>
                @foreach (var i in Model.OldChosenInstruments)
                {
                    <span>@i.De</span> <br />
                }
            </td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Band:</td>
        @if (Model.Bands == null)
        {
            <td>-</td>
        }
        else
        {
            <td>
                @foreach (var i in Model.Bands)
                {
                    <span>@i.Bandname</span> <br />
                }
            </td>
        }
    </tr>
    <tr>
        <td>@Resources.Resources.Können:</td>
        <td>@Model.Musician.Skill</td>
    </tr>
    <tr>
        <td>@Resources.Resources.Geburtsdatum:</td>
        <td>@Model.Musician.Birthdate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td>@Resources.Resources.E_Mail:</td>
        <td>@Model.Musician.Email</td>
    </tr>
</table>
